.words {
    font-size: 20px;
    text-align: left;
}

#box-writer {
    font-size: 20px;
    height: 150px;
}

.disabled_camp {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}

.botoes {

}

.campo_certo {
    border: 3px solid green;
}

.campo_errado {
    border: 3px solid red;
}